<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %} home {% endblock %}</title>
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" media="all and (min-width: 1200px)" href="/static/css/1200.css">
    <link rel="stylesheet" type="text/css" media="all and (min-width: 992px) and (max-width: 1199.98px)"
          href="/static/css/992.css">
    <link rel="stylesheet" type="text/css" media="all and (min-width: 768px) and (max-width: 991.98px)"
          href="/static/css/768.css">
    <link rel="stylesheet" type="text/css"
          media="all and (max-width: 767.98px)" href="/static/css/small.css">


    {% block style %}
    {% endblock style %}

</head>

<body>
<div id="container">
    {% block header %}
        {% include 'layouts/header.html' %}
    {% endblock header %}


    {% block navbar %}
        {% include 'layouts/navbar.html' %}
    {% endblock navbar %}

    <div id="main">
        {% block content %}
        {% endblock content %}
    </div>
</div>

{% block javascript_front %}
{% endblock javascript_front %}
={% block javascript_end %}
{% endblock javascript_end %}

</body>
</html>
