<div id="navbar" class="bg-light">
    <ul>
        <li name="dashboard"><a href="/">Dashboard</a></li>
        <li name="cmdb"><a href="/cmdb/index">Cmdb</a></li>
        <li name="note"><a href="/note/index/">Note</a></li>
        <li name="hr"><a href="/hr/index/">HR</a></li>
        <li name="workday"><a href="/workday/index/">WorkDay</a></li>
        <li name="ignoreuser"><a href="/ignoreuser/index/">IgnoreUser</a></li>
        <li name="ipmirender"><a href="/ipmirender/index/">IpmiRender</a></li>
    </ul>
</div>